:root {
  --font-default: sans-serif;
  --background: #322d3f;
  --background-secondary: #2f2d3f;
  --background-tertiary: #22202c;
  --foreground: #fff3f2;
  --accent-primary: #fd9696;
  --accent-secondary: #f9f99a;
  --accent-success: #c0faa7;
  --accent-success-bg: rgba(192, 250, 167, 0.05);
  --accent-note: #a6f8ff;
  --accent-note-bg: rgba(166, 248, 255, 0.05);
  --accent-warn: #f9f99a;
  --accent-warn-bg: rgba(249, 249, 154, 0.05);
  --accent-error: #c33b23;
  --accent-error-bg: rgba(195, 59, 35, 0.05);
  --link-color: #fd9696;
  --link-color-hover: #fbe8e8;
  --corner-radius: 0.5rem;
}

::selection,
::-moz-selection {
  background-color: var(--accent-primary);
  color: var(--background-secondary);
}

/**
 * Contains styling for inline tags as defined in the following section:
 * https://developer.quote.org/en-US/docs/Web/HTML/Element#forms
 */
button {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--accent-primary);
  cursor: pointer;
  font: bold 1rem sans-serif;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
}
button:hover {
  background-color: var(--accent-primary);
  color: var(--background);
}

form {
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}
form > button {
  align-self: center;
}

input {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--foreground);
  display: block;
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
}

progress {
  appearance: none;
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  padding: 0.25rem;
  -webkit-appearance: none;
}

progress::-moz-progress-bar {
  background: var(--accent-primary);
  border-radius: calc(var(--corner-radius) / 2);
}

progress::-webkit-progress-bar {
  background: var(--background-secondary);
  border-radius: calc(var(--corner-radius) / 2);
}

progress::-webkit-progress-value {
  background: var(--accent-primary);
  border-radius: calc(var(--corner-radius) / 2);
}

select {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--foreground);
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
}

optgroup {
  font: inherit;
}

option {
  background: var(--background-secondary);
}
option[selected] {
  color: var(--accent-primary);
}

textarea {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--foreground);
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  resize: vertical;
  width: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: solid thin var(--accent-secondary);
  outline-offset: 0.25rem;
}

/**
 * Contains styling for inline tags as defined in the following section:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#inline_text_semantics
 */
a {
  color: var(--link-color);
  font-size: 1rem;
}
a:hover {
  color: var(--link-color-hover);
  background-color: rgba(251, 232, 232, 0.15);
}

code {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-all;
}

/**
 * Defines styles for sectioning tags as defined in the following sections:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#sectioning_root
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#content_sectioning
 */
html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
  font-size: 1rem;
}

body {
  margin: 0;
}

header {
  background: var(--background);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

h2 {
  font-size: 2.5rem;
  margin: 2.5rem 0;
}

h3 {
  font-size: 2.25rem;
  margin: 2.25rem 0;
}

h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

h5 {
  font-size: 1.75rem;
  margin: 1.75rem 0;
}

h6 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

main {
  margin: 0 1rem;
}

@media screen and (min-width: 48rem) {
  main {
    margin: 0 8rem;
  }
}
/**
 * Contains styling for text tags as defined in the following section:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#text_content
 */
blockquote {
  background: var(--background-tertiary);
  border-left: thick solid var(--accent-primary);
  border-top-right-radius: var(--corner-radius);
  border-bottom-right-radius: var(--corner-radius);
  margin: 1rem;
  padding: 0.5rem 1.5rem;
}

p {
  font-size: 1rem;
}

pre {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1rem;
}
pre * {
  font-family: monospace;
}

.container {
  margin: 0 6rem;
}

.flex {
  display: flex;
}

.flex-vert {
  flex-direction: column;
}

/* Page Content Management */
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.center-text {
  text-align: center !important;
}

.scroll {
  overflow: scroll !important;
}

.scroll-x {
  overflow-x: scroll !important;
}

.scroll-y {
  overflow-y: scroll !important;
}

/* Text Styling */
.serif {
  font-family: serif;
}

.sans-serif {
  font-family: sans-serif;
}

.monospace {
  font-family: monospace;
}

.color-primary {
  color: var(--accent-primary);
}

.color-secondary {
  color: var(--accent-secondary);
}

/**
 * Default animations bundled with apocrypha.css.
 */
a {
  transition: background-color 0.1s, color 0.1s;
}

button {
  transition: background-color 0.1s, color 0.1s;
}

nav.navbar {
  align-items: center;
  border-bottom: thin solid var(--accent-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.75rem;
}
nav.navbar hr {
  border: none;
  color: transparent;
  flex-basis: 100%;
  height: 0;
  margin: 0;
}
nav.navbar > h1 {
  color: var(--accent-primary);
  font-size: 1rem;
  margin: 0;
}
nav.navbar > button {
  background: transparent;
  border: none;
  height: 1rem;
  margin: 0;
  padding: 0;
}
nav.navbar > button > img {
  height: 1rem;
}
nav.navbar > ul {
  display: none;
  margin: 0 auto;
  padding: 0;
}
nav.navbar > ul > li {
  list-style: none;
  margin: 1rem;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  nav.navbar hr {
    display: none;
  }
  nav.navbar > button {
    display: none;
  }
  nav.navbar > ul {
    display: flex;
    margin: 0;
  }
  nav.navbar > ul > li {
    margin: 0;
  }
  nav.navbar > ul > li + li {
    margin-left: 1.5rem;
  }
}
section.note {
  border-radius: var(--corner-radius);
  margin: 1rem;
  padding: 1rem;
  background: var(--accent-note-bg);
  border: thin solid var(--accent-note);
}

section.warning {
  border-radius: var(--corner-radius);
  margin: 1rem;
  padding: 1rem;
  background: var(--accent-warn-bg);
  border: thin solid var(--accent-warn);
}

section.error {
  border-radius: var(--corner-radius);
  margin: 1rem;
  padding: 1rem;
  background: var(--accent-error-bg);
  border: thin solid var(--accent-error);
}
