// Allows surrounding <a> tag content with square brackets.
$enable-bracket-links: false !default;

// Enables bundled animations.
$enable-animations: true !default;

// Controls the focus outline on form elements.
// WARNING: the focus outline exists for accessibility reasons, disable if not
// needed.
$enable-focus-outline: true !default;
