@use "sass:color";

$font-default: sans-serif !default;
$font-monospace: monospace !default;

$background: #322d3f !default;
$background-secondary: #2f2d3f !default;
$background-tertiary: #22202c !default;
$foreground: #fff3f2 !default;
$red: #fd9696 !default;
$red-bold: #c33b23 !default;
$green: #c0faa7 !default;
$yellow: #f9f99a !default;
$blue: #92c9ff !default;
$magenta: #daabda !default;
$cyan: #a6f8ff !default;

$accent-primary: $red !default;
$accent-secondary: $yellow !default;
$accent-success: $green !default;
$accent-note: $cyan !default;
$accent-warn: $yellow !default;
$accent-error: $red-bold !default;

$link-color: $accent-primary !default;
$link-color-hover: unset !default;
$link-bg-hover-transparency: 85% !default;

$corner-radius: 0.5rem !default;

:root {
  --font-default: #{$font-default};
  --font-monospace: #{$font-monospace};

  --background: #{$background};
  --background-secondary: #{$background-secondary};
  --background-tertiary: #{$background-tertiary};
  --foreground: #{$foreground};

  --accent-primary: #{$accent-primary};
  --accent-secondary: #{$accent-secondary};
  --accent-success: #{$accent-success};
  --accent-success-bg: #{color.scale($accent-success, $alpha: -95%)};
  --accent-note: #{$accent-note};
  --accent-note-bg: #{color.scale($accent-note, $alpha: -95%)};
  --accent-warn: #{$accent-warn};
  --accent-warn-bg: #{color.scale($accent-warn, $alpha: -95%)};
  --accent-error: #{$accent-error};
  --accent-error-bg: #{color.scale($accent-error, $alpha: -95%)};

  --link-color: #{$link-color};

  @if $link-color-hover == unset {
    --link-color-hover: #{color.scale(
        $link-color,
        $lightness: 75%,
        $saturation: -25%
      )};
  } @else {
    --link-color-hover: #{$link-color-hover};
  }

  --corner-radius: #{$corner-radius};
}

::selection,
::-moz-selection {
  background-color: var(--accent-primary);
  color: var(--background-secondary);
}
