/**
 * Contains styling for inline tags as defined in the following section:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#forms
 */

@import "../options";

button {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--accent-primary);
  cursor: pointer;
  font: bold 1rem sans-serif;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;

  &:hover {
    background-color: var(--accent-primary);
    color: var(--background);
  }
}

form {
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;

  > button {
    align-self: center;
  }
}

input {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--foreground);
  display: block;
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
}

progress {
  appearance: none;
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  padding: 0.25rem;
  -webkit-appearance: none;
}

progress::-moz-progress-bar {
  background: var(--accent-primary);
  border-radius: calc(var(--corner-radius) / 2);
}

progress::-webkit-progress-bar {
  background: var(--background-secondary);
  border-radius: calc(var(--corner-radius) / 2);
}

progress::-webkit-progress-value {
  background: var(--accent-primary);
  border-radius: calc(var(--corner-radius) / 2);
}

select {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--foreground);
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
}

optgroup {
  font: inherit;
}

option {
  background: var(--background-secondary);

  &[selected] {
    color: var(--accent-primary);
  }
}

textarea {
  background: var(--background-secondary);
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  color: var(--foreground);
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  resize: vertical;
  width: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  @if $enable-focus-outline {
    outline: solid thin var(--accent-secondary);
    outline-offset: 0.25rem;
  } @else {
    outline: none;
  }
}
