/**
 * Contains styling for inline tags as defined in the following section:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#inline_text_semantics
 */

@use "sass:color";

@import "../options";

a {
  color: var(--link-color);
  font-size: 1rem;

  &:hover {
    color: var(--link-color-hover);

    @if $link-color-hover == unset {
      background-color: color.scale(
        $link-color,
        $lightness: 75%,
        $saturation: -25%,
        $alpha: -$link-bg-hover-transparency
      );
    } @else {
      background-color: color.scale($link-color-hover, $alpha: -$link-bg-hover-transparency);
    }
  }

  @if $use-bracket-link {
    text-decoration: none;

    &::before {
      content: "[";
      display: inline-block;
    }
    &::after {
      content: "]";
      display: inline-block;
    }

    &:hover::before {
      transform: translateX(-0.5rem);
    }
    &:hover::after {
      transform: translateX(0.5rem);
    }
  }
}

code {
  font-family: var(--font-monospace);
  white-space: pre-wrap;
}
