/**
 * Contains styling for inline tags as defined in the following section:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#inline_text_semantics
 */

@import "../options";

a {
  font-size: 1rem;
  padding: 0 0.5rem;

  @if $use-bracket-link {
    text-decoration: none;

    &::before {
      content: "[";
      display: inline-block;
    }
    &::after {
      content: "]";
      display: inline-block;
    }

    &:hover::before {
      transform: translateX(-0.5rem);
    }
    &:hover::after {
      transform: translateX(0.5rem);
    }
  }
}
