/**
 * Defines styles for sectioning tags as defined in the following sections:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#sectioning_root
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element#content_sectioning
 */

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
  font-size: 1rem;
}

body {
  margin: 0;
}

header {
  background: var(--background);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

h2 {
  font-size: 2.5rem;
  margin: 2.5rem 0;
}

h3 {
  font-size: 2.25rem;
  margin: 2.25rem 0;
}

h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

h5 {
  font-size: 1.75rem;
  margin: 1.75rem 0;
}

h6 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

main {
  margin: 0 1rem;
}

@media screen and (min-width: 48rem) {
  main {
    margin: 0 8rem;
  }
}
