table {
  border: thin solid $accent-primary;
  border-radius: $corner-radius;
  border-spacing: 0;
  margin: 1rem;
}

thead {
  background: $background-tertiary;
}

td,
th {
  padding: 0.5rem;
}

tbody > tr:nth-child(2n + 1) {
  background: $background-secondary;
}

tbody > tr:nth-child(2n) {
  background: $background-tertiary;
}
