div.progress-bar {
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  display: flex;
  padding: 0.25rem;
  margin: 1rem;

  > span {
    background-color: var(--accent-primary);
    border-radius: var(--corner-radius);
    height: 1rem;

    &.thin {
      height: 0.5rem;
    }
  }
}
