/**
 * Default animations bundled with apocrypha.css.
 */

@import "../options";

@if $enable-animations {
  a {
    transition: background-color 0.1s, color 0.1s;
  }

  @if $enable-bracket-links {
    a::before,
    a::after {
      padding: 0 0.5rem;
      transition: transform 0.1s;
    }
  }

  button {
    transition: background-color 0.1s, color 0.1s;
  }
}
